<div class="users-show">
	<div class="sidebar">
		<div class="profile-pic">
			<%= image_tag @user.profile_pic_url %>
		</div>
	</div>
	<div class="main-content">
		<div class="title">
			<div class="name"><%= @user.first_name %> <%= @user.last_name %></div>
			<div class="about"><%= @user.about %></div>
		</div>

		<div class="post-form">
				<%= form_for [@user, Post.new(user_id: @user.id)] do |f| %>
					<div class="field">
						<%= f.hidden_field :user_id %>
				    <%= f.text_area :text, placeholder: "What on you mind #{@user.first_name}?" %>
				  </div>
				  <div class="actions">
				    <%= f.submit 'Post', class: "submit-post" %>
				  </div>
				<% end %>
			</div>

		<div class="posts">
			<% @user.posts.reverse.each do |post| %>
				<%= render 'posts/post', :user => @user, :post => post %>
   		<% end %>
		</div>
	</div>
</div>
